/node_modules
/public/hot
/public/storage
/public/license
/storage/*.key
/storage/framework/cache
/storage/debugbar
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
docker-compose.yml
.idea
.vscode